.cloudContainer {
    background: #25283B;
    display: grid;
    grid-template-rows: 1rf auto;
    height: 600px;
    margin: auto;
    width: 100%;
    background: linear-gradient(to bottom, #25283B, #25283B, #25283B, #C4C4C4);
}

/* wokring css for getroman logo  */
.spaceContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 20px;
    height: 350px;
    border: 2px dashed rgba(114, 186, 94, 0.35);
    background: rgba(114, 186, 94, 0.05);
}

.getromanLogo {
    width: 399px;
    height: 346px;
    grid-column-start: 4;
    grid-column-end: 5;
}



.footer {
    grid-row-end: 90;
}