/* .headerColor {
    background: #212329;
} */

/* fix the bottom border later  */
.mdl-layout__header-row {
    background: #212329;
    border-bottom: 1px solid white;
}

.landingGrid {
    background: #212329;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.getromanLogo {
    height: 250px;
    padding-top: 5em;;
}

.bannerText {
    background-color: black;
    opacity: .8;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

.bannerText h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.bannerText hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.bannerText p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.socialLinks i {
    color: white;
    font-size: 5em;
    padding: 8px;
    padding-right: 50px;
}

.projectsGrid {
    display: flex;
}

/* contact page css */
 .contactBody {
     margin: auto;
     background: #212329;
     position: fixed;
     width: 100%;
     height: 100%;
     justify-content: center;
     padding-top: 2em;
 }

 .contactGrid {
     text-align: center;
     justify-content: center;
     width: 80%;
     height: 650px;
     background: white;
     color: black;
     /* border: 2px solid red; */
     margin-bottom: 20px;
     overflow: scroll;
 } 

 .contactGrid h2 {
    font-family: 'IBM Plex Mono', monospace;
 }

 .contactGrid p {
    font-family: 'IBM Plex Mono', monospace;
 }

 .contactGrid hr {
     border-top: 5px dotted black;
     width: 50%;
     margin: auto;
 }

 .contactList i {
     font-size: 40px;
     padding-right: 2rem;
 }

 /* resume page css  */
 .resumeRightCol {
    background: #212329;
    color: white;
    padding: 2em;
 }

 .resumeGrid h2, h4, p {
    font-family: 'IBM Plex Mono', monospace;
 }